.VideoStream {
      background-color: grey;
      display: flex;
      flex-direction: column;
      max-width: 47vw;
      border-radius: 10px;
      padding: 5px;
      margin: 5px;
      flex-grow: 1;
}

@media (max-width: 768px) {
      .VideoStream {
            max-width: 97vw;
      }
}
